<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page for Bloccit</p>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>