@import "bootstrap-custom";
@import "bootstrap";


.user-info {
  margin-top: 9px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.class {
  opacity: 0.5;
}

.hide {
  display: none;
}

.h6 {
  font-size: 125%;
  color:red;
}